@font-face {
    font-family: "Medieval-Pixel";
    src: url("./font/Jacquard12-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: "Medieval-Pixel";
}

* {
    box-sizing: border-box;
  }

.content-wrapper {
    display: flex;
    height: 100%;
    min-height: 750px;
    width: 100vw;
}

.title {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    justify-content: center;
    font-size: 3.2vw;
    padding-bottom: 1%;
}

.main-block {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-color: rgb(253, 255, 254); 
    min-width: 650px;
}

.leftside-block,
.rightside-block {
    display: flex;
    align-items: center;
    position: relative;
    width: 20%;
    height: 100%;
    min-width: 200px;
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    flex-shrink: 2;
}

.leftside-block {
    background-image: url(./side-blocks/field-left.png);
}

.rightside-block {
    background-image: url(./side-blocks/field-right.png);
}

.knight-right,
.knight-left {
    position: absolute;
    object-fit: contain;
    
    max-width: 100%;
    height: auto;
}

.text-block {
    display: flex;
    justify-content: center;
}

.action-text {
    margin-top: 7%;
}

.buttons {
    display: flex;
    padding-top: 2%;
    margin-bottom: 3%;
    justify-content: center;
    background-color: rgb(253, 255, 254);
    gap: 12%;
}

button {
    outline: none;
    border: none;
    border-radius: 1%;
    aspect-ratio: 4 / 5; 
    width: 10vw; 
    height: auto;
    max-width: 200px; 
    max-width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(253, 255, 254);
}

.text-block span {
    color: red;
}

#rock {
    background-image: url("./icons/rock.webp");
    
}

#paper {
    background-image: url("./icons/paper.webp");
}

#scissors {
    background-image: url("./icons/scissors.webp");
    
}

.chosen {
    scale: 1.2;
    border: 5px solid rgb(145, 146, 143);
    border-radius: 3%;
}

.select {
    font-size: 2.5vw; 
    position: absolute;
}

.blink {
    visibility: hidden;
}

@media screen and (max-width: 1200px) {
    .select {
        font-size: 3vw;
    }

    .title {
        font-size: 4vw;
    }

    button {
        width: 20vw;
    }
}

@media screen and (max-width: 900px) {
    .select {
        font-size: 4vw;
    }

    .title {
        font-size: 5vw;
    }

    button {
        width: 25vw;
    }
}