@font-face {
    font-family: "Medieval-Pixel";
    src: url("./Jacquard_12/Jacquard12-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: "Medieval-Pixel";
}

* {
    box-sizing: border-box;
  }

.content-wrapper {
    display: flex;
    height: 100%;
    min-height: 750px;
    width: 100vw;
}

.title {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    justify-content: center;
    font-size: 3.2vw;
}

.main-block {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
    background-color: rgb(253, 255, 254); 
    min-width: 650px;
}

.leftside-block,
.rightside-block {
    width: 20%;
    height: 100%;
    min-width: 200px;
    background-size: cover;
    background-origin: border-box;
    background-repeat: no-repeat;
    flex-shrink: 1.5;
}

.leftside-block {
    background-image: url(./side-blocks/field-left.webp);
}

.rightside-block {
    background-image: url(./side-blocks/field-right.webp);
}

.text-block {
    display: flex;
    justify-content: center;
}

.action-text {
    margin-top: 15%;
}

.buttons {
    display: flex;
    padding-top: 5%;
    justify-content: center;
    padding: 2% 5%;
    background-color: rgb(253, 255, 254);
    gap: 12%;
}

button {
    outline: none;
    border: none;
    border-radius: 1%;
    height: 200px;
    width: 150px;
    background-size: cover;
    background-position: center;
}

#rock {
    background-image: url("./icons/rock.webp");
    
}

#paper {
    background-image: url("./icons/paper.webp");
}

#scissors {
    background-image: url("./icons/scissors.webp");
    
}

.chosen {
    scale: 1.2;
    border: 5px solid rgb(145, 146, 143);
    border-radius: 3%;
}

.select {
    font-size: 2vw; 
}

.blink {
    visibility: hidden;
}