@font-face {
    font-family: "Medieval-Detail";
    src: url('/font/Jacquard_24/Jacquard24-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Medieval-Readable";
    src: url('/font/Cormorant_Unicase/CormorantUnicase-Regular.ttf') format("truetype");
    font-style: normal;
    font-weight: normal;
}

:root {
    --title-size: 4.5vw;
    --action-title-size: 3.5vw;
    --action-text-size: 1.9vw;
    --action-button-size: 2vw;
    --score-size: 5vw;
    --name-size: 4vw;
    --select-size: 2.5vw;
    --talking-block-size: 2vw;
    --talking-bubble-size: 1.8vw;
  }

html,
body {
    margin: 0;
    padding: 0;
}

body {
    display:flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-family: "Medieval-Detail";
}

* {
    box-sizing: border-box;
  }

  .loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgb(253, 255, 254);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .loader-image {
    width: 12vw;
    height: auto;
  }

.content-wrapper {
    display: flex;
    height: 100%;
    min-height: 750px;
    width: 100vw;
}

.title {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    font-size: var(--title-size);
    padding: 2.5% 0% 2%;
}

.middle-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 100%;
    background-color: rgb(253, 255, 254); 
    min-width: 650px;
    padding: 0% 2.5%;
    overflow: hidden
}

.leftside-block,
.rightside-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 20%;
    height: 100%;
    min-width: 200px;
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    flex-shrink: 2;
}

.leftside-block {
    background-image: url(./side-blocks/field-left.png);
}

.rightside-block {
    background-image: url(./side-blocks/field-right.png);
}

.knight-right,
.knight-left {
    position: absolute;
    object-fit: contain;
    max-width: 100%;
    height: auto;
}

.text-block {
    display: flex;
    height: 5vw;
    justify-content: center;
    padding: 2% 0%;
}

.buttons {
    display: flex;
    padding-top: 1%;
    justify-content: center;
    background-color: rgb(253, 255, 254);
    gap: 12%;
}

button {
    outline: none;
    border: none;
    border-radius: 1%;
    aspect-ratio: 4 / 5; 
    width: 8vw; 
    height: auto;
    max-width: 200px; 
    max-width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(253, 255, 254);
}

.action {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: black solid;
    box-shadow: 10px 5px 5px rgb(131,131,131);
    width: 55vw;
    height: 10vw;
    min-height: 150px; 
    /* margin-top: 2%; */
    padding: 1% 1.5%;
    overflow: hidden;
}

.action-title {
    font-size: var(--action-title-size);
}

.action-text {
    font-size: var(--action-text-size);
}

.action-button {
    aspect-ratio: 9 / 3;
    border: black solid;
    border-radius: 5%;
    width: max-content;
    padding: 0% 1%;
    font-size: var(--action-button-size);
    font-family: inherit;
}

.counters {
    display: flex;
    justify-content: center;
}

.counter-player,
.counter-ties,
.counter-enemy {
    display: flex;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 7 / 6; 
    width: 10vw; 
    height: auto;
}

.score {
    font-size: var(--score-size);
    margin-bottom: -5%;
}

.name {
    font-size: var(--name-size);
}

.top-part {
    display: flex;
    flex-direction: column;
}

.bottom-part {
    display: flex;
    padding: 2% 0%;
    flex-direction: row;
    justify-content: space-between;
}

.text-block span {
    color: red;
}

.bottom-part button {
    border-radius: 1%;
    aspect-ratio: 4 / 5; 
    width: 7vw; 
}

.talking-block {
    font-size: var(--talking-block-size);
}

.font {
    background-image: url(./icons/mage.webp);
}

.music {
    background-image: url(./icons/jester.webp);
}

#rock {
    background-image: url("./icons/rock.webp");
    
}

#paper {
    background-image: url("./icons/paper.webp");
}

#scissors {
    background-image: url("./icons/scissors.webp");
    
}

.chosen {
    scale: 1.2;
    border: 5px solid rgb(145, 146, 143);
    border-radius: 3%;
}

.right-knight-buttons,
.left-knight-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-knight-buttons button,
.left-knight-buttons button {
    background-color: transparent;
    z-index: 2;
}

#right-head,
#left-head {
    width: 5vw; 
    height: 5vw;
}

#right-arms,
#left-arms {
    width: 15vw; 
    height: 7vw;
}

#right-groin,
#left-groin {
    width: 8vw; 
    height: 5vw;
}

#right-legs,
#left-legs {
    width: 8vw; 
    height: 10vw;
}

#right-arms {
    height: 6vw;
}

#right-groin {
    height: 4vw;
}

#right-legs {
    height: 11vw;
}

.invisible {
    display: none;
}

.select {
    font-size: var(--select-size); 
}

.blink {
    visibility: hidden;
}

.disabled {
    pointer-events: none; 
    opacity: 0.5;
}

.hidden {
    opacity: 0;
}

.blue {
    color: darkblue;
}

.red {
    color: red;
}

.fontReadable {
    font-family: "Medieval-Readable";
}

.right-knight-bubble,
.left-knight-bubble {
    position: absolute;
    align-self: flex-start;
    padding: 15%;
    font-size: var(--talking-bubble-size);
}

@media screen and (max-width: 1200px) {
    .select {
        font-size: 3vw;
    }

    .title {
        font-size: 4vw;
    }

    .action-text {
        font-size: 2vw;
    }

    button {
        width: 12vw;
    }
}

@media screen and (max-width: 900px) {
    .select {
        font-size: 4vw;
    }

    .title {
        font-size: 5vw;
    }

    .action-text {
        font-size: 2.6vw;
    }

    button {
        width: 15vw;
    }
}